# Injected links to man(1) pages
scopeName: "hidden.manref"
injectionSelector: "text, comment, docstring, string.quoted.docstring, source.changelogs"
patterns: [{
	name: "manref"
	match: "([^\\s()<>/\"'`{}!:&*#?\\\\]+)((\\()([0-9])([^()\\s]*)(\\)))"
	captures:
		1: name: "manref.subject"
		2: name: "manref.section"
		3: name: "punctuation.definition.begin.manref"
		4: name: "manref.section-number"
		5: name: "manref.section-group"
		6: name: "punctuation.definition.end.manref"
}]
