name: "Roff"
scopeName: "text.roff"
firstLineMatch: "^\\.TH +(?:\\S+)"
fileTypes: [
	"1", "1b", "1c", "1has", "1in", "1m", "1s", "1x",
	"2",
	"3", "3avl", "3bsm", "3c", "3in", "3m", "3qt", "3x",
	"4",
	"5",
	"6",
	"7", "7d", "7fs", "7i", "7ipp", "7m", "7p",
	"8",
	"9", "9e", "9f", "9p", "9s",
	"chem",
	"eqn",
	"groff",
	"man",
	"mandoc",
	"mdoc",
	"me",
	"ms",
	"mom",
	"n",
	"rnh",
	"rno",
	"roff",
	"run",
	"t",
	"tr"
]

patterns: [
	
	{ include: "#main" }
	
	# Comments
	{
		name: "comment.line.roff"
		begin: "\\.?\\s*\\\\\""
		end: "$"
		captures:
			0: {name: "punctuation.definition.begin.comment.roff"}
	}
	
]


repository:
	
	# Common patterns
	main: {
		patterns: [
			{ include: "#bold"         }
			{ include: "#italic"       }
			{ include: "#bold-italic"  }
			{ include: "#underline"    }
			{ include: "#headings"     }
			{ include: "#macro-bold"   }
			{ include: "#macro-italic" }
			{ include: "#escapes"      }
			{ include: "#paired-fonts" }
		]
	}
	
	
	
	# Escape sequences
	escapes:
		patterns: [
			{ match: "\\x5C{2}",  name: "constant.character.escape.backslash.roff"},
			{ match: "\\\\\n",    name: "constant.character.escape.newline.roff"},
			{ match: "\\\\ ",     name: "constant.character.escape.space.roff"},
			{ match: "\\\\\"",    name: "constant.character.escape.quote.double.roff"},
			{ match: "\\\\'",     name: "constant.character.escape.quote.single.roff"}
		]
	
	
	
	# Double/single-quoted strings (used in requests)
	strings:
		patterns: [
			{include: "#single-quoted-string"},
			{include: "#double-quoted-string"},
			{name: "string.unquoted.roff", begin: "(?=[A-Za-z_])", end: "(?=[^\\w])"}
		]
	
	"single-quoted-string":
		name: "string.quoted.single.roff"
		begin: "'"
		end:   "'|$"
		beginCaptures: {0: {name: "punctuation.definition.string.begin.roff"}}
		endCaptures:   {0: {name: "punctuation.definition.string.end.roff"}}
		patterns: [{include: "#single-quoted-includes"}]
	
	"double-quoted-string":
		name: "string.quoted.double.roff",
		begin: '"'
		end:   '"|$'
		beginCaptures: {0: {name: "punctuation.definition.string.begin.roff"}}
		endCaptures:   {0: {name: "punctuation.definition.string.end.roff"}}
		patterns: [{include: "#double-quoted-includes"}]

	
	# Inclusions for 'single-quoted strings'
	"single-quoted-includes":
		patterns: [{include: "#escapes"}, {
			match: "[^']*[^'\\n\\r\\\\]$"
			name: "invalid.illegal.string.roff"
		}]
	
	# Inclusions for "double-quoted strings"
	"double-quoted-includes":
		patterns: [{include: "#escapes"}, {
			match: '[^"]*[^"\\n\\r\\\\]$'
			name: "invalid.illegal.string.roff"
		}]
	
	
	
	# Italics (typically rendered by nroff as underlined text)
	italic:
		name: "markup.italic.roff"
		begin: "(\\\\)(f[I2])"
		end: "(?=\\\\f[A-Za-z0-9])((\\\\)(f[RP1]))?"
		beginCaptures:
			1: {name: "punctuation.definition.backslash.roff"}
			2: {name: "entity.name.roff"}
		endCaptures:
			1: {name: "meta.terminator.roff"}
			2: {name: "punctuation.definition.backslash.roff"}
			3: {name: "entity.name.roff"}
	
	
	# Bold text
	bold:
		name: "markup.bold.roff"
		begin: "(\\\\)(f[B3])"
		end: "(?=\\\\f[A-Za-z0-9])((\\\\)(f[RP1]))?"
		beginCaptures:
			1: {name: "punctuation.definition.backslash.roff"}
			2: {name: "entity.name.roff"}
		endCaptures:
			1: {name: "meta.terminator.roff"}
			2: {name: "punctuation.definition.backslash.roff"}
			3: {name: "entity.name.roff"}
	
	
	# Both bold and italic
	"bold-italic":
		name: "markup.bold.italic.roff"
		begin: "(\\\\)(f4)"
		end: "(?=\\\\f[A-Za-z0-9])((\\\\)(f[RP1]))?"
		beginCaptures:
			1: {name: "punctuation.definition.backslash.roff"}
			2: {name: "entity.name.roff"}
		endCaptures:
			1: {name: "meta.terminator.roff"}
			2: {name: "punctuation.definition.backslash.roff"}
			3: {name: "entity.name.roff"}
	
	
	
	# Underlined passage
	underline:
		name: "meta.request.ul.roff"
		begin: "^(\\.ul)(?: +(\\d+))?\\s*(.*?)\\s*?(\\\\\".*?)?\n"
		end:   "([^\n ]+\n)"
		patterns: [{ include: "$self" }]
		beginCaptures:
			1: {name: "entity.function.name.roff"}
			2: {name: "variable.parameter.argument.roff"}
			3: {name: "invalid.illegal.roff"}
			4: {name: "comment.line.roff"}
		endCaptures:
			0: {name: "markup.underline.roff"}


	# Macro: .B
	"macro-bold":
		name: "markup.bold.roff"
		begin: "^\\.B(?:$| +)"
		end:   "([^\n ]+ ?\n)"
		patterns: [{ include: "$self" }]
	
	
	# Macro: .I
	"macro-italic":
		name: "markup.italic.roff"
		begin: "^\\.I(?:$| +)"
		end:   "([^\n ]+ ?\n)"
		patterns: [{ include: "$self" }]
	
	
	# Multiline macros
	#==================================================================
	"paired-fonts":
		patterns: [{
			name: "meta.bold-italic.roff"
			begin: "^(\\.BI)(?= |$)"
			end: "$"
			patterns: [{include: "#pair-bold-italic"}]
		}, {
			name: "meta.italic-bold.roff"
			begin: "^(\\.IB)(?= |$)"
			end: "$"
			patterns: [{include: "#pair-italic-bold"}]
		}]
	
	
	
	# Alternating pairs of bold/italic tokens
	"pair-bold-italic":
		patterns: [
			{include: "#double-quoted-string"},
			{include: "#single-quoted-string"}, {
			
			# {Bold} {Italic} \n {Bold} …
			name:  "BI-1"
			begin: "(\\S*?[^\\\\\\s]+)[ \t]+(\\S*?[^\\\\\\s]+)[ \t]+\\\\(?=$)"
			end:   "(\\S+)(.*)(?=\\s|$)"
			beginCaptures:
				1: {name: "markup.bold.roff"}
				2: {name: "markup.italic.roff"}
			endCaptures:
				1: {name: "markup.bold.roff"}
				2: {patterns: [{include: "#pair-italic-bold"}]}
		}, {
			
			# {Bold} {Italic}
			name:  "BI-2"
			match: "(\\S+)[ \t]+(\\S*[^\\\\\\s]+)(?=[ \t]|$)"
			captures:
				1: {name: "markup.bold.roff"}
				2: {name: "markup.italic.roff"}
		}, {
			
			# {Bold \n Bold} …
			name:  "BI-3"
			begin: "(\\S*[^\\\\\\s]+)?\\\\(?=$)"
			end:   "(\\S+)(.*)(?=\\s|$)"
			beginCaptures:
				1: {name: "markup.bold.roff"}
			endCaptures:
				1: {name: "markup.bold.roff"}
				2: {patterns: [{include: "#pair-italic-bold"}]}
		}, {
			
			# {Bold} \n {Italic} …
			name:  "BI-4"
			begin: "(\\S*[^\\\\\\s]+)?[ \t]+\\\\(?=$)"
			end:   "(\\S+)(?=\\s|$)"
			beginCaptures:
				1: {name: "markup.bold.roff"}
			endCaptures:
				1: {name: "markup.italic.roff"}
		}, {
			
			# {Bold} {Italic \n Italic} …
			name: "BI-5"
			begin: "(\\S*[^\\\\\\s]+)[ \t]+(\\S*[^\\\\\\s]+)\\\\(?=$)"
			end: "(\\S+)(.*?)(?=\\s|$)"
			beginCaptures:
				1: {name: "markup.bold.roff"}
				2: {name: "markup.italic.roff"}
			endCaptures:
				1: {name: "markup.italic.roff"}
				2: {patterns: [{include: "#pair-bold-italic"}]}
		}, {
			
			# {Bold}
			name: "BI-6"
			match: "\\S+[ \t]*$"
			captures:
				0: {name: "markup.bold.roff"}
		}]
		

	# Alternating pairs of italic/bold tokens
	"pair-italic-bold":
		patterns: [{
			
			# {Italic} {Bold} \n {Italic}
			name:  "IB-1"
			begin: "(\\S*?[^\\\\\\s]+)[ \t]+(\\S*?[^\\\\\\s]+)[ \t]+\\\\(?=$)"
			end:   "(\\S+)(?=\\s|$)"
			beginCaptures:
				1: {name: "markup.italic.roff"}
				2: {name: "markup.bold.roff"}
			endCaptures:
				1: {name: "markup.italic.roff"}
		}, {
			
			# {Italic} {Bold}
			name:  "IB-2"
			match: "(\\S+)[ \t]+(\\S*[^\\\\\\s]+)(?=[ \t]|$)"
			captures:
				1: {name: "markup.italic.roff"}
				2: {name: "markup.bold.roff"}
		}, {
			
			# {Italic \n Italic} …
			name:  "IB-3"
			begin: "(\\S*[^\\\\\\s]+)?\\\\(?=$)"
			end:   "(\\S+)(.*)(?=\\s|$)"
			beginCaptures:
				1: {name: "markup.italic.roff"}
			endCaptures:
				1: {name: "markup.italic.roff"}
				2: {patterns: [{include: "#pair-bold-italic"}]}
		}, {
			
			# {Italic} \n {Bold} …
			name:  "IB-4"
			begin: "(\\S*[^\\\\\\s]+)?[ \t]+\\\\(?=$)"
			end:   "(\\S+)(?=\\s|$)"
			beginCaptures:
				1: {name: "markup.italic.roff"}
			endCaptures:
				1: {name: "markup.bold.roff"}
		}, {
			
			# {Italic} {Bold \n Bold} …
			name: "IB-5"
			begin: "(\\S*[^\\\\\\s]+)[ \t]+(\\S*[^\\\\\\s]+)\\\\(?=$)"
			end: "(\\S+)(.*?)(?=\\s|$)"
			beginCaptures:
				1: {name: "markup.italic.roff"}
				2: {name: "markup.bold.roff"}
			endCaptures:
				1: {name: "markup.bold.roff"}
				2: {patterns: [{include: "#pair-italic-bold"}]}
		}, {
			
			# {Italic}
			name: "IB-6"
			match: "\\S+[ \t]*$"
			captures:
				0: {name: "markup.italic.roff"}
		}]
	
	
	
	
	
	# Titles, sections and subsections
	headings:
		patterns: [{
			
			# Titles (GNU manual macro)
			name: "markup.heading.title.gnu.man.macro.roff"
			begin: "^(\\.TH) +"
			end: "$"
			beginCaptures:
				1: {name: "entity.name.function.roff"}
			patterns: [
				{ include: "#main"    }
				{ include: "#strings" }
			]
		}, {
			
			# Sections
			name: "markup.heading.section.man.macro.roff"
			begin: "^(\\.SH) +"
			end: "$"
			beginCaptures:
				1: {name: "entity.name.function.roff"}
			patterns: [
				{ include: "#main"    }
				{ include: "#strings" }
			]
		}, {
			
			# Subsections
			name: "markup.heading.subsection.man.macro.roff"
			begin: "^(\\.Ss) +"
			end: "$"
			beginCaptures:
				1: {name: "entity.name.function.roff"}
			patterns: [
				{ include: "#main"    }
				{ include: "#strings" }
			]
			
		}]
