name: "Roff"
scopeName: "text.roff"
firstLineMatch: "^\\.TH +(?:\\S+)"
fileTypes: [
	"1", "1b", "1c", "1has", "1in", "1m", "1s", "1x",
	"2",
	"3", "3avl", "3bsm", "3c", "3in", "3m", "3qt", "3x",
	"4",
	"5",
	"6",
	"7", "7d", "7fs", "7i", "7ipp", "7m", "7p",
	"8",
	"9", "9e", "9f", "9p", "9s",
	"chem",
	"eqn",
	"groff",
	"man",
	"mandoc",
	"mdoc",
	"me",
	"ms",
	"mom",
	"n",
	"rnh",
	"rno",
	"roff",
	"run",
	"t",
	"tr"
]

patterns: [{ include: "#main" }]


repository:
	
	# Common patterns
	main: {
		patterns: [
			{ include: "#escapes"              }
			{ include: "#comments"             }
			{ include: "#requests"             }
			{ include: "#bold"                 }
			{ include: "#italic"               }
			{ include: "#bold-italic"          }
			{ include: "#headings"             }
			{ include: "#macro-bold"           }
			{ include: "#macro-italic"         }
			{ include: "#macro-bold-italic"    }
			{ include: "#macro-bold-roman"     }
			{ include: "#macro-italic-bold"    }
			{ include: "#macro-italic-roman"   }
			{ include: "#macro-roman-bold"     }
			{ include: "#macro-roman-italic"   }
		]
	}
	
	
	
	
	# Escape sequences
	escapes:
		patterns: [{
			
				# Comments
				name: "comment.line.roff"
				begin: "(?:^[.'])?\\s*\\\\\""
				end: "$"
				beginCaptures:
					0: {name: "punctuation.definition.begin.comment.roff"}
			}, {
				
				# Empty control lines
				name: "comment.empty.roff"
				match: "^[.'][ \t]*$"
			},
			
			
			# Basic sequences
			{match: "\\x5C{2}",  name: "constant.character.escape.backslash.roff"}
			{match: "\\\\e",     name: "constant.character.escape.current-escape-char.roff"}
			{match: "\\\\´",     name: "constant.character.escape.acute-accent.roff"}
			{match: "\\\\`",     name: "constant.character.escape.grave-accent.roff"}
			{match: "\\\\-",     name: "constant.character.escape.minus.roff"}
			{match: "\\\\\\.",   name: "constant.character.escape.dot.roff"}
			{match: "\\\\ ",     name: "constant.character.escape.space.roff"}
			{match: "\\\\0",     name: "constant.character.escape.space.digit-width.roff"}
			{match: "\\\\\\|",   name: "constant.character.escape.space.one-sixth-em.roff"}
			{match: "\\\\\\^",   name: "constant.character.escape.space.one-twelfth-em.roff"}
			{match: "\\\\&",     name: "constant.character.escape.zero-width-marker.roff"}
			{match: "\\\\!",     name: "constant.character.escape.transparent-line.roff"}  # May need its own rule
			{match: "\\\\%",     name: "constant.character.escape.hyphenation-char.roff"}
			{match: "\\\\a",     name: "constant.character.escape.leader-char.roff"}
			{match: "\\\\c",     name: "constant.character.escape.connect.roff"}
			{match: "\\\\d",     name: "constant.character.escape.downwards.roff"}
			{match: "\\\\p",     name: "constant.character.escape.spread-line.roff"}
			{match: "\\\\r",     name: "constant.character.escape.reverse.roff"}
			{match: "\\\\t",     name: "constant.character.escape.tab.roff"}
			{match: "\\\\u",     name: "constant.character.escape.upwards.roff"}
			{match: "\\\\\\{",   name: "constant.character.escape.conditional.begin.roff"}
			{match: "\\\\\\}",   name: "constant.character.escape.conditional.end.roff"}
			{match: "\\\\\n",    name: "constant.character.escape.newline.roff"}, {
				
				# \(aa - Character named "aa"
				name: "constant.character.escape.named-char.roff"
				match: "(?x)
					(\\\\ \\()
					(
						em|hy|bu|sq|ru|14|12|34|fi|fl|ff|Fi|Fl|de|dg|fm|ct|rg|co|pl|mi|eq|sc|aa|ga|ul|sl|ts|sr|rn|ap|
						ua|da|mu|di|cu|ca|sb|sp|ib|ip|if|pd|gr|no|is|pt|es|mo|br|dd|rh|lh|bs|or|ci|lt|lb|rt|rb|lk|rk|
						bv|lf|rf|lc|rc|[>=<|!]=|->|<-|[+]-|\\*[A-IK-UW-Z*a-ik-uw-z]
					)"
				captures:
					1: {name: "punctuation.definition.begin.roff"}
					2: {name: "entity.name.roff"}
			
			}, {
				
				# \*x, \*(xx - Interpolate string "x" or "xx"
				name: "constant.character.escape.interpolate-string.roff"
				match: "(\\\\\\*)(\\(\\S{2}|\\S)"
				captures:
					1: {name: "punctuation.definition.begin.roff"}
					2: {name: "variable.parameter.roff"}
			}, {
				
				# \$N - Interpolate argument number N (valid range: 1-9)
				name: "constant.character.escape.interpolate-argument.roff"
				match: "(\\\\\\$)(\\d)"
				captures:
					1: {name: "punctuation.definition.begin.roff"}
					2: {name: "variable.parameter.roff"}
			}, {
				
				# Parametric/function-like escape sequences
				name: "constant.character.escape.function.roff"
				match: "(\\\\[bCDhHSlLovwxXN])((.)(.*?)(\\3))"
				captures:
					1: {name: "entity.name.function.roff"}
					2: {name: "string.other.roff"}
					3: {name: "punctuation.definition.begin.roff"}
					4: {patterns: [{include: "#escapes"}]}
					5: {name: "punctuation.definition.end.roff"}
			}, {
				
				# Font: Italics (typically rendered by nroff as underlined text)
				name: "markup.italic.roff"
				begin: "(\\\\)(f[I2])"
				end: "(?=\\\\f[A-Za-z0-9])((\\\\)(f[RP1]))?"
				beginCaptures:
					1: {name: "punctuation.definition.backslash.roff"}
					2: {name: "entity.name.roff"}
				endCaptures:
					1: {name: "meta.terminator.roff"}
					2: {name: "punctuation.definition.backslash.roff"}
					3: {name: "entity.name.roff"}
			}, {
				
				# Font: Bold
				name: "markup.bold.roff"
				begin: "(\\\\)(f[B3])"
				end: "(?=\\\\f[A-Za-z0-9])((\\\\)(f[RP1]))?"
				beginCaptures:
					1: {name: "punctuation.definition.backslash.roff"}
					2: {name: "entity.name.roff"}
				endCaptures:
					1: {name: "meta.terminator.roff"}
					2: {name: "punctuation.definition.backslash.roff"}
					3: {name: "entity.name.roff"}
			}, {
				
				# Font: Bold and italic
				name: "markup.bold.italic.roff"
				begin: "(\\\\)(f4)"
				end: "(?=\\\\f[A-Za-z0-9])((\\\\)(f[RP1]))?"
				beginCaptures:
					1: {name: "punctuation.definition.backslash.roff"}
					2: {name: "entity.name.roff"}
				endCaptures:
					1: {name: "meta.terminator.roff"}
					2: {name: "punctuation.definition.backslash.roff"}
					3: {name: "entity.name.roff"}
			}, {
				
				# \fX, \f(XX, \fN - Change to font named "X" or "XX", or position N
				name: "constant.character.escape.font.roff"
				match: "(\\\\f)(\\(\\S{2}|\\S)"
				captures:
					1: {name: "punctuation.definition.begin.roff"}
					2: {name: "variable.parameter.roff"}
			}, {
				
				# \gx, \g(xx - Format of number register "x" or "xx"
				name: "constant.character.escape.format-register.roff"
				match: "(\\\\g)(\\(\\S{2}|\\S)"
				captures:
					1: {name: "punctuation.definition.begin.roff"}
					2: {name: "variable.parameter.roff"}
			}, {
				
				# \kX - Mark horizontal input place in register "X"
				name: "constant.character.escape.mark-input.roff"
				match: "(\\\\k)(\\S)"
				captures:
					1: {name: "punctuation.definition.begin.roff"}
					2: {name: "variable.parameter.roff"}
			}, {
				
				# \nX, \n(XX - Contents of number register "X" or "XX"
				name: "constant.character.escape.expand-register.roff"
				match: "(\\\\n)(\\(\\S{2}|\\S)"
				captures:
					1: {name: "punctuation.definition.begin.roff"}
					2: {name: "variable.parameter.roff"}
			}, {
				
				# \sN, \s±N - Point-size change function; also \s(NN, \s±(NN
				name: "constant.character.escape.point-size.roff"
				match: "(\\\\s)([-+]?\\(?\\d+)"
				captures:
					1: {name: "punctuation.definition.begin.roff"}
					2: {name: "variable.parameter.roff"}
			}, {
				
				# \zC - Print "C" with zero width (without spacing)
				name: "constant.character.escape.zero-width-print.roff"
				match: "(\\\\z)(\\S)"
				captures:
					1: {name: "punctuation.definition.begin.roff"}
					2: {name: "variable.parameter.roff"}
			}, {
				
				# \Z - Any character not listed above
				match: "\\\\(\\S)",
				name: "constant.character.escape.misc.roff"
			}
		]
	
	
	
	# "Double-quoted string"
	string:
		patterns: [{
			name: "string.quoted.double.empty.roff",
			match: '(")(")'
		}, {
			name: "string.quoted.double.roff",
			begin: '"(?!")'
			end:   '(?<!")"(?!")|(?<!\\\\)$'
			beginCaptures: {0: {name: "punctuation.definition.string.begin.roff"}}
			endCaptures:   {0: {name: "punctuation.definition.string.end.roff"}}
			patterns: [
				{match: '""', name: "constant.character.escape.quote.double.roff"},
				{include: "#escapes"}
			]
		}]
	
	
	
	
	# Request parameters
	params:
		patterns: [
			{include: "#escapes"}
			{include: "#string"}, {
				name: "string.unquoted.roff"
				begin: "(?=[A-Za-z_])"
				end: "(?=[^\\w])"
			}
		]
	
	
	# Titles, sections and subsections
	headings:
		patterns: [{
			
			# Titles (GNU manual macro)
			name: "markup.heading.title.gnu.man.macro.roff"
			begin: "^([.'][ \t]*TH)(?=[ \t]|$)"
			end: "$"
			beginCaptures:
				1: {name: "entity.name.function.roff"}
			patterns: [
				{ include: "#main"    }
				{ include: "#params"  }
			]
		}, {
			
			# Sections
			name: "markup.heading.section.man.macro.roff"
			begin: "^([.'][ \t]*SH)(?=[ \t]|$)"
			end: "$"
			beginCaptures:
				1: {name: "entity.name.function.roff"}
			patterns: [
				{ include: "#main"    }
				{ include: "#params"  }
			]
		}, {
			
			# Subsections
			name: "markup.heading.subsection.man.macro.roff"
			begin: "^([.'][ \t]*Ss)(?=[ \t]|$)"
			end: "$"
			beginCaptures:
				1: {name: "entity.name.function.roff"}
			patterns: [
				{ include: "#main"    }
				{ include: "#params"  }
			]
			
		}]
	
	
	# Requests
	requests:
		patterns:[{
			
			# Generic requests without formatting
			name: "meta.function.request.$1.roff"
			begin: "(?x) ^([.'])[ \t]*
				(ab|ad|af|am|as|bd|bp|br|c2|cc|ce|cf|ch|cs|cu|da|de|di|ds
				|dt|ec|em|eo|ev|ex|fc|fi|fl|fp|ft|hc|hw|hy|ig|in|it|lc|lg
				|lf|ll|ls|lt|mc|mk|na|ne|nf|nh|nm|nn|nr|ns|nx|os|pc|pi|pl
				|pm|pn|po|ps|rd|rm|rn|rr|rs|rt|so|sp|ss|sv|sy|ta|tc|ti|tl
				|tm|tr|uf|vs|wh)
				(?=[ \t]|$)"
			end: "(?<!\\\\)(?=\n)"
			beginCaptures:
				1: {name: "punctuation.definition.request.roff"}
				2: {name: "entity.name.roff"}
			patterns: [{include: "#params"}]
			
		}, {
			
			# Flow control/conditional requests
			name: "meta.function.request.$1.roff"
			begin: "^([.'])[ \t]*(ie|if|el)(?=[ \t]|$)"
			end: "(?<!\\\\)(?=\n)"
			beginCaptures:
				1: {name: "punctuation.definition.request.roff"}
				2: {name: "keyword.control.roff"}
			patterns: [{include: "#params"}]
			
		}, {
			
			# Underlined passage
			name: "meta.request.ul.roff"
			begin: "^([.'][ \t]*ul)(?: +(\\d+))?\\s*(.*?)\\s*?(\\\\\".*?)?\n"
			end:   "([^\n ]+\n)"
			patterns: [{ include: "$self" }]
			beginCaptures:
				1: {name: "entity.function.name.roff"}
				2: {name: "variable.parameter.argument.roff"}
				3: {name: "invalid.illegal.roff"}
				4: {name: "comment.line.roff"}
			endCaptures:
				0: {name: "markup.underline.roff"}
		}]
	
	
	
	
	



	# Macro: .B
	"macro-bold":
		name: "markup.bold.roff"
		begin: "^[.'][ \t]*B(?:$| +)"
		end:   "([^\n ]+ ?\n)"
		patterns: [{ include: "$self" }]
	
	
	# Macro: .I
	"macro-italic":
		name: "markup.italic.roff"
		begin: "^[.'][ \t]*I(?:$| +)"
		end:   "([^\n ]+ ?\n)"
		patterns: [{ include: "$self" }]
	
	
	# Macro: .BI
	"macro-bold-italic":
		name: "markup.bold-italic.roff"
		begin: "^([.'][ \t]*BI)(?=[ \t]|$)"
		end:   "(?<!\\\\)(?=\n)"
		beginCaptures:
			1: {name: "entity.function.name.roff"}
		patterns: [{
			begin: '(?x)(?<=
				^[.\']        BI|
				^[.\'][ \t]{1}BI|
				^[.\'][ \t]{2}BI|
				^[.\'][ \t]{3}BI|
				^[.\'][ \t]{4}BI)
				[ \\t]+(".*?(?<!")"(?!")|[^"\\s]\\S*)[ \t]*(?=")'
			end: '(?<=")|(?<!\\\\)$'
			patterns: [{include: "#italic-strings"}]
			beginCaptures:
				1:
					name: "markup.bold.roff"
					patterns: [{include: "#bold-strings"}]
		}, {
			begin: '(?=("[^"]*(?<!\\\\)")|\\S+)'
			end: '$|(?:^|[ \t]+|(?<="))(("[^"]*")|\\S+)'
			patterns: [{include: "#bold-strings"}]
			endCaptures:
				1: {name: "markup.italic.roff"}
				2: {patterns: [{include: "#string"}]}
		}]
	
	
	# Macro: .BR
	"macro-bold-roman":
		name: "markup.bold-roman.roff"
		begin: "^([.'][ \t]*BR)(?=[ \t]|$)"
		end:   "(?<!\\\\)(?=\n)"
		beginCaptures:
			1: {name: "entity.function.name.roff"}
		patterns: [{
			begin: '(?x)(?<=
				^[.\']        BR|
				^[.\'][ \t]{1}BR|
				^[.\'][ \t]{2}BR|
				^[.\'][ \t]{3}BR|
				^[.\'][ \t]{4}BR)
				[ \\t]+(".*?(?<!")"(?!")|[^"\\s]\\S*)[ \t]*(?=")'
			end: '(?<=")|(?<!\\\\)$'
			patterns: [{include: "#params"}]
			beginCaptures:
				1:
					name: "markup.bold.roff"
					patterns: [{include: "#bold-strings"}]
		}, {
			begin: '(?=("[^"]*(?<!\\\\)")|\\S+)'
			end: '$|(?:^|[ \t]+|(?<="))(?:("[^"]*")|\\S+)'
			patterns: [{include: "#bold-strings"}]
			endCaptures:
				1: {patterns: [{include: "#string"}]}
		}]
	
	
	# Macro: .IB
	"macro-italic-bold":
		name: "markup.italic-bold.roff"
		begin: "^([.'][ \t]*IB)(?=[ \t]|$)"
		end:   "(?<!\\\\)(?=\n)"
		beginCaptures:
			1: {name: "entity.function.name.roff"}
		patterns: [{
			begin: '(?x)(?<=
				^[.\']        IB|
				^[.\'][ \t]{1}IB|
				^[.\'][ \t]{2}IB|
				^[.\'][ \t]{3}IB|
				^[.\'][ \t]{4}IB)
				[ \\t]+(".*?(?<!")"(?!")|[^"\\s]\\S*)[ \t]*(?=")'
			end: '(?<=")|(?<!\\\\)$'
			patterns: [{include: "#bold-strings"}]
			beginCaptures:
				1:
					name: "markup.italic.roff"
					patterns: [{include: "#italic-strings"}]
		}, {
			begin: '(?=("[^"]*(?<!\\\\)")|\\S+)'
			end: '$|(?:^|[ \t]+|(?<="))(("[^"]*")|\\S+)'
			patterns: [{include: "#italic-strings"}]
			endCaptures:
				1: {name: "markup.bold.roff"}
				2: {patterns: [{include: "#string"}]}
		}]
		

	# Macro: .IR
	"macro-italic-roman":
		name: "markup.italic-roman.roff"
		begin: "^([.'][ \t]*IR)(?=[ \t]|$)"
		end:   "(?<!\\\\)(?=\n)"
		beginCaptures:
			1: {name: "entity.function.name.roff"}
		patterns: [{
			begin: '(?x)(?<=
				^[.\']        IR|
				^[.\'][ \t]{1}IR|
				^[.\'][ \t]{2}IR|
				^[.\'][ \t]{3}IR|
				^[.\'][ \t]{4}IR)
				[ \\t]+(".*?(?<!")"(?!")|[^"\\s]\\S*)[ \t]*(?=")'
			end: '(?<=")|(?<!\\\\)$'
			patterns: [{include: "#params"}]
			beginCaptures:
				1:
					name: "markup.italic.roff"
					patterns: [{include: "#italic-strings"}]
		}, {
			begin: '(?=("[^"]*(?<!\\\\)")|\\S+)'
			end: '$|(?:^|[ \t]+|(?<="))(?:("[^"]*")|\\S+)'
			patterns: [{include: "#italic-strings"}]
			endCaptures:
				1: {patterns: [{include: "#string"}]}
		}]


	# Macro: .RB
	"macro-roman-bold":
		name: "markup.roman-bold.roff"
		begin: "^([.'][ \t]*RB)(?=[ \t]|$)"
		end:   "(?<!\\\\)(?=\n)"
		beginCaptures:
			1: {name: "entity.function.name.roff"}
		patterns: [{
			begin: '(?x)(?<=
				^[.\']        RB|
				^[.\'][ \t]{1}RB|
				^[.\'][ \t]{2}RB|
				^[.\'][ \t]{3}RB|
				^[.\'][ \t]{4}RB)
				[ \\t]+(".*?(?<!")"(?!")|[^"\\s]\\S*)[ \t]*(?=")'
			end: '(?<=")|(?<!\\\\)$'
			patterns: [{include: "#bold-strings"}]
			beginCaptures:
				1: patterns: [{include: "#string"}]
		}, {
			begin: '(?=("[^"]*(?<!\\\\)")|\\S+)'
			end: '$|(?:^|[ \t]+|(?<="))(("[^"]*")|\\S+)'
			patterns: [{include: "#string"}]
			endCaptures:
				1: {name: "markup.bold.roff"}
				2: {patterns: [{include: "#string"}]}
		}]
	
	
	# Macro: .RI
	"macro-roman-italic":
		name: "markup.roman-italic.roff"
		begin: "^([.'][ \t]*RI)(?=[ \t]|$)"
		end:   "(?<!\\\\)(?=\n)"
		beginCaptures:
			1: {name: "entity.function.name.roff"}
		patterns: [{
			begin: '(?x)(?<=
				^[.\']        RI|
				^[.\'][ \t]{1}RI|
				^[.\'][ \t]{2}RI|
				^[.\'][ \t]{3}RI|
				^[.\'][ \t]{4}RI)
				[ \\t]+(".*?(?<!")"(?!")|[^"\\s]\\S*)[ \t]*(?=")'
			end: '(?<=")|(?<!\\\\)$'
			patterns: [{include: "#italic-strings"}]
			beginCaptures:
				1: patterns: [{include: "#string"}]
		}, {
			begin: '(?=("[^"]*(?<!\\\\)")|\\S+)'
			end: '$|(?:^|[ \t]+|(?<="))(("[^"]*")|\\S+)'
			patterns: [{include: "#string"}]
			endCaptures:
				1: {name: "markup.italic.roff"}
				2: {patterns: [{include: "#string"}]}
		}]
	
	
	# Bold words ("Quoted"/Unquoted)
	"bold-strings":
		patterns: [
			{include: "#bold-string"}
			{include: "#bold-bareword"}
		]
	
	# Bold: "Quoted"
	"bold-string":
		patterns: [{
			name: "markup.bold.roff"
			begin: '(?=")'
			end:   '$|(?<=")'
			patterns: [{
				
				# Concealed newline
				begin: "(?<=\\S)\\\\(?=\n)"
				end: "(?<!\\\\)(?=\\s|$)"
				beginCaptures: 0: {name: "constant.character.escape.newline.roff"}
				patterns: [{include: "#bold-string"}]
				
			}, {include: "#string"}]
		}]
	
	# Bold: Unquoted
	"bold-bareword":
		patterns: [{
			name: "markup.bold.roff"
			begin: "\\G(?!\\\\\n)"
			end: "(?=\\s|$)"
			patterns: [{
				# Concealed newline
				begin: "(?<=\\S)\\\\(?=\n)"
				end: "(?<!\\\\)(?=\\s|$)"
				beginCaptures: 0: {name: "constant.character.escape.newline.roff"}
				patterns: [{include: "#bold-bareword"}]
			}]
		}]
	
	
	# Italic words ("Quoted"/Unquoted)
	"italic-strings":
		patterns: [
			{include: "#italic-string"}
			{include: "#italic-bareword"}
		]
	
	# Italic: "Quoted"
	"italic-string":
		patterns: [{
			name: "markup.italic.roff"
			begin: '(?=")'
			end:   '$|(?<=")'
			patterns: [{
				
				# Concealed newline
				begin: "(?<=\\S)\\\\(?=\n)"
				end: "(?<!\\\\)(?=\\s|$)"
				beginCaptures: 0: {name: "constant.character.escape.newline.roff"}
				patterns: [{include: "#italic-string"}]
				
			}, {include: "#string"}]
		}]
	
	
	# Italic: Unquoted
	"italic-bareword":
		patterns: [{
			name: "markup.italic.roff"
			begin: "\\G(?!\\\\\n)"
			end: "(?=\\s|$)"
			patterns: [{
				# Concealed newline
				begin: "(?<=\\S)\\\\(?=\n)"
				end: "(?<!\\\\)(?=\\s|$)"
				beginCaptures: 0: {name: "constant.character.escape.newline.roff"}
				patterns: [{include: "#italic-bareword"}]
			}]
		}]
