name: "Sandbox"
scopeName: "source.sandbox"
fileTypes: []
patterns: [{
	begin: '\\\\"'
	end: "$"
	name: "comment.line"
},{
	name: "box"
	begin: "^.BI"
	end: "(?<![^\\\\]\\\\|^\\\\)(?=\\n)|(?=\\\\\")"
	patterns: [
		{include: "#redQuoted"}
		{include: "#red"}
		{include: "#greenQuoted"}
		{include: "#green"}
		{include: "#escape-red-to-green"}
		{include: "#escape-green-to-red"}
	]
}]


repository:
	redQuoted:
		name: "test-1"
		begin: """(?x)
			[ \t]+
			"
		"""
		end: """(?x)
			"[ \t]*
			|
			(?=\\\\\")
			|
			(?<![^\\\\]\\\\|^\\\\)(?=\\n)
		"""
		patterns: [
			{match: '(?:[^\"\\\\]|""|\\\\(?!").)+(?!$)'}
			{include: "#escapes"}
		]
		
	greenQuoted:
		name: "test-2"
		begin: '"'
		end: """(?x)
			"
			(
				[^"\\s]+
				[ \t]*
			)?
			|
			(?=\\\\\")
			|
			(?<![^\\\\]\\\\|^\\\\)(?=\\n)
		"""
		endCaptures:
			1: name: "test-1"
		patterns: [
			{match: '(?:[^\"\\\\]|""|\\\\(?!").)+(?!$)'}
			{include: "#escapes"}
		]
	
	
	
	red:
		begin: """(?x)
			[ \t]+
			(?!")
			(?:
				[^\\s"\\\\]
				|
				\\\\(?!").
			)+
		"""
		end: "[ \t]+|(?<![^\\\\]\\\\|^\\\\)(?=\\n|$)|(?=\\\\\")"
		name: "test-1.faded"
		patterns: [include: "#escapes"]


	green:
		name: "test-2.faded"
		begin: """(?x)
			(?<=^|\\s|\")
			(?!"|\\\\\")
			(?:
				[^\\s"\\\\]
				|
				\\\\(?!").
			)+
		"""
		end: "(?=[ \t])|(?<![^\\\\]\\\\|^\\\\)(?=\\n|$)|(?=\\\\\")"
		beginCaptures:
			0: name: "begin"
		patterns: [include: "#escapes"]


	"escape-green-to-red":
		begin: "\\\\$\\n?"
		end: "^[ \t]*"
		name: "test-3"
	
	"escape-red-to-green":
		begin: "[ \t]+\\\\$\\n?"
		end: "^"
		name: "test-3"


	# Everything under this line should be supplied by the existing grammar
	escapes:
		patterns: [{
			match: "\\\\."
			name: "constant.character.escape"
		},{
			name: "constant.character.escape.newline"
			begin: "\\\\$\\n?"
			end: "^"
		}]
