".text.roff":
	editor:
		commentStart: ".\\\" "

".text.roff .refer":
	editor:
		commentStart: "# "

".source.pic":
	editor:
		commentStart: "# "
		increaseIndentPattern: "[\\[({:]\\s*$|\\.cstart\\b"
		decreaseIndentPattern: "^\\s*[\\])}]|\\.cend\\b"

".source.ideal":
	editor:
		commentStart: "/* "
		commentEnd:   " */"

".text.runoff":
	editor:
		commentStart: ".! "
