".text.roff":
	editor:
		commentStart: ".\\\" "

".source.pic":
	editor:
		commentStart: "# "
		increaseIndentPattern: "[\\[({:]\\s*$|\\.cstart\\b"
		decreaseIndentPattern: "^\\s*[\\])}]|\\.cend\\b"

".text.runoff":
	editor:
		commentStart: ".! "
