".text.roff":
	editor:
		commentStart: ".\\\" "

".source.pic":
	editor:
		commentStart: "# "
		increaseIndentPattern: "[\\[({:]\\s*$"
		decreaseIndentPattern: "^\\s*[\\])}]"

".text.runoff":
	editor:
		commentStart: ".! "
