"atom-text-editor[data-grammar='text roff']":
	"tab":       "language-roff:indent"
	"shift-tab": "language-roff:outdent"
	"{":         "language-roff:curly-bracket"
	"(":         "language-roff:round-bracket"
	"'":         "language-roff:single-quote"

".platform-darwin,
 .platform-darwin atom-text-editor[class]":
	"cmd-m":     "language-roff:open-manpage"

".platform-win32, .platform-win32 atom-text-editor[class],
 .platform-linux, .platform-linux atom-text-editor[class]":
	"ctrl-m":    "language-roff:open-manpage"
